.home {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section {
  background-color: black;
  color: #fff;
  padding: 50px;
  margin: 20px 0;
  max-width: 1400px;
  border-radius: 8px;
  text-align: center;
  transition: all 0.5s ease;
}

.section h2 {
  color: #888888;
  padding-top: 150px;
}
.section p {
  padding-top: 70px;
}

@media (max-width: 768px) {
  .section h2 {
    padding-top: 70px;
  }
  .section p {
    padding-top: 30px;
  }
}