/* Navbar.css */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center; /* 중앙 정렬 */
  align-items: center;
  color: white;
  padding: 1rem;
  gap: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-100%); /* 초기 상태에서 위쪽에 숨김 */
  opacity: 0; /* 초기 상태에서 투명 */
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
  z-index: 1000;
  height: 70px;
}

.navbar.show {
  transform: translateY(0); /* 화면에 보이도록 변경 */
}

/* Navbar가 나타날 때 적용되는 클래스 */
.navbar.show {
  transform: translateY(0);
  opacity: 1;
}

.navbar a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #ddd;
}

@media (max-width: 768px) {
  .navbar {
    height: 40px;
  }
}
